.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-items: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px; /* Ajusta el padding general */
  padding-top: 10px; /* Reduce el espacio superior */
  background-color: #f0f4f8;
  font-family: 'Arial', sans-serif;
}


section {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  padding: 40px;
  width: 100%;
  max-width: 400px;
}

label {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 5px;
  display: block;
  font-weight: 700; /* Aquí añadimos la negrita */
}


input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px; /* Aumenté el espacio entre los inputs */
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.4s ease, box-shadow 0.4s ease;
}

input:focus {
  border-color: #0066cc;
  box-shadow: 0 0 8px rgba(0, 102, 204, 0.2);
}

.invalid {
  border-color: red !important;
}

.error-message {
  color: #e74c3c;
  background-color: #fceae9;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: opacity 0.3s ease-in-out;
}

.button-container {
  text-align: center;
}

button {
  padding: 14px 24px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  max-width: 250px;
}

.btn-primary {
  background-color: #0066cc;
  color: white;
}

.btn-primary:hover {
  background-color: #005bb5;
  transform: scale(1.1);
}

.btn-secondary {
  background-color: #00cc66;
  color: white;
}

.btn-secondary:hover {
  background-color: #00994d;
  transform: scale(1.1);
}

@media only screen and (max-width: 1024px) {
  .body {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 20px;
  }

  section {
    max-width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .body {
    padding: 10px;
  }

  input {
    padding: 8px;
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
    padding: 10px;
  }

  label {
    font-size: 1rem;
  }
}
