<div class="body">
    <section class="filtrofechas">
        <div class="year">
            <button>Previo</button>
            <h1 class="s-year">2024</h1>
            <button>Siguiente</button>
        </div>
        <div class="month">
            <button>Previo</button>
            <h1 class="s-month">Julio</h1>
            <button>Siguiente</button>
        </div>
    </section>
    <section class="enlistado">
        <div class="opciones">
            <div class="filtro">
                <h2>Mostrar por:</h2>
                <select name="hola" id="1">
                    <option value="estado">Todos</option>
                    <option value="estado">Pendiente</option>
                    <option value="estado">Pagada</option>
                    <option value="estado">Vencida</option>
                </select>
            </div>
            <div class="registro">
                <button>Registrar Deuda</button>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>N° Documento</th>
                    <th>Empresa</th>
                    <th>Total</th>
                    <th>Fecha Vencimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123123</td>
                    <td>Sunat</td>
                    <td>S/.2</td>
                    <td>ayer</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>