<div class="body">
  <section class="filtrofechas">
    <button (click)="prevMonth()">Previo</button>
    <h1 class="s-date">{{ currentMonthName }}, {{ currentYear }}</h1>
    <button (click)="nextMonth()">Siguiente</button>
  </section>

  <div class="search-container">
    <input type="text" placeholder="Ingresar número de recibo" [(ngModel)]="searchTerm" />
    <button (click)="searchByDocument()">Buscar</button>
  </div>

  <section class="enlistado">
    <div class="opciones">
      <div class="filtro">
        <h2>Mostrar por:</h2>
        <select name="filtro" id="filtro" [(ngModel)]="filtroEstado" (ngModelChange)="applyFilter()">
          <option value="Todos">Todos</option>
          <option value="proxima">Próxima</option>
          <option value="pendiente">Pendiente</option>
          <option value="pagada">Pagada</option>
          <option value="vencida">Vencida</option>
        </select>
      </div>
      <div class="registro">
        <button mat-raised-button color="primary" (click)="openDebtModal()">Registrar Deuda</button>
        <button mat-raised-button color="primary" (click)="openScheduleModal()">Registrar Cronograma</button>
      </div>
    </div>

    <div *ngIf="paginatedDebts.length > 0; else noDebts">
      <table class="centered-table">
        <thead>
        <tr>
          <th>N° Documento</th>
          <th>Empresa</th>
          <th>Total</th>
          <th>Fecha Vencimiento</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let deuda of paginatedDebts">
          <td>{{ deuda.numeroDocumento }}</td>
          <td>{{ deuda.empresa }}</td>
          <td>{{ formatCurrency(deuda.montoTotal) }}</td>
          <td [ngClass]="getDebtClass(deuda)">{{ deuda.fechaVencimiento }}</td>
          <td>
            <ng-container *ngIf="deuda.estado === 'pagada'; else notPaid">
              <img src="../../../assets/pagado.png" alt="Deuda pagada" title="Deuda pagada!" class="icon-pagado">
            </ng-container>
            <ng-template #notPaid>
              <img src="../../../assets/pagar.png" alt="Pagar deuda" title="Pagar deuda" class="icon-pagar" (click)="openConfirmDialog(deuda)">
            </ng-template>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="pagination-controls">
        <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ totalPages }}</span>
        <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
      </div>

    </div>

    <ng-template #noDebts>
      <div class="no-debts-container">
        <p>Sin deudas este mes.</p>
        <img src="../../../assets/sindeuda.png" alt="Sin deudas" class="no-debts-image">
        <p>Prueba ingresando una.</p>
      </div>
    </ng-template>

    <section class="leyenda">
      <h3></h3>
      <ul>
        <li>Estados:</li>
        <li class="highlight deuda-proxima">Próxima</li> <!-- Ajustado a 'próxima' -->
        <li class="highlight deuda-vencida">Vencidas</li>
        <li class="highlight deuda-pagada">Pagadas</li>
        <li class="highlight deuda-pendiente">Pendiente</li> <!-- Ajustado a 'pendiente' -->
      </ul>
    </section>
  </section>
</div>
