.body {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 1200px;
}

.filtrofechas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.s-date {
  font-size: 1.5em;
  margin: 0 15px;
}

.opciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filtro {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0055a5;
}

button:focus {
  outline: none;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.leyenda {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 50px;
}

.leyenda h3 {
  margin-bottom: 10px;
}

.leyenda ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.leyenda li {
  margin: 0 10px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
}

.highlight {
  color: black;
  padding: 3px;
  display: inline-block;
}

.deuda-pagada {
  background-color: green;
  color: white;
}

.deuda-vencida {
  background-color: red;
  color: white;
}

.deuda-proxima {
  background-color: yellow;
  color: black;
}

.deuda-pendiente {
  background-color: black;
  color: white;
}

.centered-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

.centered-table th,
.centered-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.centered-table th {
  background-color: #003366;
  color: white;
  text-align: center;
}

.centered-table td {
  text-align: center;
}

.centered-table td.deuda-pagada {
  color: green;
  background-color: white;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.centered-table td.deuda-vencida {
  color: red;
  background-color: white;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.centered-table td.deuda-proxima {
  color: yellow;
  background-color: white;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.centered-table td.deuda-pendiente {
  color: black;
  background-color: white;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.modal-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button.mat-raised-button {
  margin-right: 10px;
}

.icon-pagar,
.icon-pagado {
  width: 24px; /* Tamaño del icono */
  height: 24px;
}

.icon-pagar {
  cursor: pointer; /* Tipo de cursor pointer */
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Espaciado con respecto al cuadro de filtro */
}

.search-container input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.search-container button {
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #0055a5;
}

.search-container button:focus {
  outline: none;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-controls button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
  background-color: #0055a5;
}

.pagination-controls span {
  font-size: 1.2em;
  margin: 0 10px;
}

.no-debts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 150px;
}

.no-debts-container p {
  font-size: 1.5em;
  margin-bottom: 20px;
  margin-top: 20px;
}

.no-debts-container .no-debts-image {
  width: 100px;
  height: auto;
}

@media (max-width: 768px) {
  .filtrofechas {
    flex-direction: column;
  }

  .opciones {
    flex-direction: column;
  }

  .leyenda ul {
    flex-direction: column;
  }

  .search-container {
    flex-direction: column;
  }

  .search-container input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .pagination-controls {
    flex-direction: column;
  }

  .pagination-controls button {
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .s-date {
    font-size: 1.2em;
  }

  button {
    padding: 8px 15px;
    font-size: 0.9em;
  }

  .search-container button {
    padding: 8px 15px;
    font-size: 0.9em;
  }

  .pagination-controls span {
    font-size: 1em;
  }

  .no-debts-container p {
    font-size: 1.2em;
  }
}
