<div class="modal-container">
  <h2>Registrar Cronograma</h2>
  <form (ngSubmit)="registerSchedule()">
    <div class="form-group">
      <label for="cronograma-documento">N° de recibo:</label>
      <input type="text" id="cronograma-documento" [(ngModel)]="newSchedule.numeroDocumento" name="cronograma-documento">
    </div>

    <div class="form-group">
      <label for="cronograma-empresa">Empresa:</label>
      <input type="text" id="cronograma-empresa" [(ngModel)]="newSchedule.empresa" name="cronograma-empresa">
    </div>

    <div class="form-group">
      <label for="cronograma-monto">Monto:</label>
      <input type="number" id="cronograma-monto" [(ngModel)]="newSchedule.monto" name="cronograma-monto">
    </div>

    <div class="form-group">
      <label for="fechaDesembolso">Fecha de desembolso:</label>
      <input type="date" id="fechaDesembolso" [(ngModel)]="newSchedule.fechaDesembolso" name="fechaDesembolso">
    </div>

    <div class="form-group">
      <label for="plazo">Plazo:</label>
      <input type="text" id="plazo" [(ngModel)]="newSchedule.plazo" name="plazo">
    </div>

    <div class="form-group">
      <label for="interes">Interés:</label>
      <input type="number" id="interes" [(ngModel)]="newSchedule.interes" name="interes">
    </div>

    <div class="form-group">
      <button type="submit">Registrar</button>
      <button type="button" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</div>
